.container{
    background-color: rgb(164, 144, 13);
}

body{
    background-color: rgb(223, 148, 35);
}

.card{
    background-color: black;
    color: #fff;
}

li{
    background-color: rgb(202, 49, 207);
}
.gana{
    background-color:#6a1b9a;
    color: #fff;
}
.gana1{
    color:red;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.gnn{
    background-color: rgb(78, 8, 164);
    color: #fff;
}

.ganesh1{
    background-color: rgb(95, 203, 48);
    color: red;
}