<body>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="form-group">
                        <h2 class="text-center">{{isInEditMode ? 'UPDATE TODO' :'ADD TODO'}}</h2>
                        <input [(ngModel)]="searchTodo" #TodoName type="text" class="form-control" name="todoItem" #todoItems>
                    </div>
                    <p *ngIf="searchTodo" class="alert alert-success mt-3">{{searchTodo}}</p>
                    <button class="btn btn-primary btn-sm w-100" *ngIf="!isInEditMode" (click)="ontodo()">ADD TODO</button>
                    <button class="btn btn-warning btn-sm w-100" *ngIf="isInEditMode" (click)="onupdate()">UPDATE TODO</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="list-group mt-2" *ngIf="todoArr.length > 0; else noTodos">
                <li class="list-group-item d-flex justify-content-between mt-2" *ngFor="let gana of todoArr" >
                    <h3>{{gana.todoItem}}</h3>
                    <div>
                        <button class="btn btn-outline-light btn-sm mr-3" (click)="onEdit(gana)">EDIT</button>
                        <button class="btn btn-outline-warning btn-sm mr-3"  (click)="onRemove(gana.todoId)">REMOVE</button>
                    </div>

                </li>
            </ul>
            <ng-template #noTodos>
                <p class="alert alert-info">no Added Todos Yet!!</p>

            </ng-template>

        </div>
    </div>
</div>
</body>